h1 {
    text-align: center;
}

tr td {

    width: 100px;
    height: 100px;
}

table {
    margin: 0px auto;
}

tr td:nth-of-type(2){
  border-left: 1px solid black;
    border-right: solid 1px black;
}

tr:nth-of-type(2) td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}