h1 {

   border: solid 2px gray;

}

h4 {
    background:rgb(255,100,80);
}

body{

    background: pink;
    /* background: url(https://www.babybedding.com/images/fabric/gray-large-woodgrain-fabric_medium.jpg);
    background-repeat: no-repeat;
    background-size: cover; */

}
    